* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-style: 10px;
	counter-reset: z2j;
}

.container {
	display: grid;
	position: relative;
	left: 40%;
	margin: 0.5rem;
	grid-template-columns: 0.1fr 0.1fr 1fr;
	grid-auto-flow: row;
	gap: 1rem;
}

.btn {
	height: 5rem;
	width: 10rem;
	border-radius: 1rem;
	transition: 0.5s;
	font-size: 1.2rem;
}

.btn:nth-of-type(4) {
	background-color: orange;
}
.btn:nth-last-of-type(1) {
	background-color: greenyellow;
}

.btn:active {
	box-shadow: 3px 3px black;
	transform: translateY(2px);
}
.row-1::before {
	content: '' counter(z2j) '. ';
	counter-increment: z2j;
}
.row-2::before {
	content: counter(z2j, upper-roman) ') ';
	counter-increment: z2j;
}
.row-3::before {
	content: '[' counter(z2j) '] ';
	counter-increment: z2j;
}

/* button hovers */

.btn:hover {
	cursor: pointer;
	background-color: rgb(161, 152, 152);
}

.btn:nth-of-type(4):hover {
	background-color: lime;
}
.btn:nth-last-of-type(1):hover {
	background-color: purple;
}
