* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	font-family: 'Montserrat', sans-serif;
	font-style: 10px;
}

.container {
	display: grid;
	position: relative;
	left: 40%;
	margin: 0.5rem;
	grid-template-columns: 0.1fr 0.1fr 1fr;
	grid-auto-flow: row;
	gap: 1rem;
}

.btn {
	height: 5rem;
	width: 10rem;
	border-radius: 1rem;
	transition: 0.5s;
}

.btn:nth-child(4) {
	background-color: orange;
}
.btn:nth-child(9) {
	background-color: greenyellow;
}

/* button hovers */

.btn:hover {
	cursor: pointer;
	background-color: rgb(161, 152, 152);
}

.btn:nth-child(4):hover {
	background-color: lime;
}
.btn:nth-child(9):hover {
	background-color: purple;
}
