* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  font-family: "Montserrat", sans-serif;
  background-color: #8bc34a;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: flex-end;
}

.frame {
  padding: 0.5rem;
  margin: 0.2rem;
  width: 22rem;
  border: 0.5rem solid #a52a2a;
  background-color: #b97a5c;
}

.text {
  text-align: center;
  text-shadow: 0 0 5px black;
}