* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;
	font-family: 'Montserrat', sans-serif;
	background-color: royalblue;
	font-size: 50px;
}

.text p {
	height: 100%;
	width: 100%;
	color: black;
}
